.imageView-area {
  background: #000;

  img {
    height: 959px;
    object-fit: cover;
    width: 100%;
  }

  h2 {
    .imageView-area h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.padded-container {
  padding: 3rem;
}

.image-info {
  background: #eee;

  h2 {
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
  }
}

@media only screen and (max-width: 992px) {
  .imageView-area {
    img {
      height: 730px;
      margin-bottom: 3rem;
    }

    p,
    h2 {
      margin-left: 3rem;
    }
  }

  .padded-container {
    padding: 16px 100px;
  }
}

@media only screen and (max-width: 600px) {
  .imageView-area {
    img {
      height: 373px;
      margin-bottom: 0;
    }

    p,
    h2 {
      margin-left: 1rem;
    }
  }

  .padded-container {
    padding: 16px;
    padding-top: 0;
  }
}
